
#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
}

    #editing, #highlighting, #highlighting * {
        /* Also add text styles to highlighing tokens */
        font-size: 15pt;
        font-family: monospace;
        line-height: 20pt;
        tab-size: 2;
    }


#editing, #highlighting {
    /* In the same place */
    position: absolute;
    top: 100px;
    left: 0;
}


/* Move the textarea in front of the result */

#editing {
    z-index: 1;
}

#highlighting {
    z-index: 0;
}


/* Make textarea almost completely transparent */

#editing {
    color: transparent;
    background: transparent;
    caret-color: black; /* Or choose your favourite color */
}

/* Can be scrolled */
#editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
    resize: none;
}

/* Paragraphs; First Image */
* {
    font-family: "Fira Code", monospace;
}

#highlighting {
    border-radius: 2px;
    background-color: #eee;
    color: #111;
    white-space:pre;
}


/*see also https://stackoverflow.com/questions/4909167/how-to-add-a-custom-right-click-menu-to-a-webpage*/