@inherits LayoutComponentBase

<div class="page"> 

    <main>
        <div class="container">
        <header class="d-flex justify-content-center py-3 border-bottom">
          @*<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">*@
            
            <span class="fs-4">WigWam Fiddle</span>
          @*</a>*@
           
        </header>
         
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
